
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-emo-sleep:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-emo-saint:before { content: '\e80e'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-reddit:before { content: '\e814'; } /* '' */
.icon-rocket:before { content: '\e815'; } /* '' */
.icon-star-1:before { content: '\e816'; } /* '' */
.icon-heart:before { content: '\e817'; } /* '' */
.icon-cd:before { content: '\e818'; } /* '' */
.icon-itunes:before { content: '\e819'; } /* '' */
.icon-note-beamed:before { content: '\e81a'; } /* '' */
.icon-note:before { content: '\e81b'; } /* '' */
.icon-eye:before { content: '\e81c'; } /* '' */
.icon-mic:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-keyboard-1:before { content: '\e81f'; } /* '' */
.icon-compass:before { content: '\e820'; } /* '' */
.icon-help:before { content: '\e821'; } /* '' */
.icon-lightbulb:before { content: '\e822'; } /* '' */
.icon-lightbulb-1:before { content: '\e823'; } /* '' */
.icon-bell:before { content: '\e824'; } /* '' */
.icon-road:before { content: '\e825'; } /* '' */
.icon-signal:before { content: '\e826'; } /* '' */
.icon-sort-alphabet:before { content: '\e827'; } /* '' */
.icon-home-outline:before { content: '\e829'; } /* '' */
.icon-stopwatch:before { content: '\e82a'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */